<div class="md-whiteframe-24dp"  ng-controller="LoginCtrl as vm">
	<md-content layout-padding layout="column"
		layout-sm="column">
	<form ng-if="!vm.authorized" ng-submit="vm.auth()">
		<md-input-container> <label>User Name</label> <input
			type="text" ng-model="vm.user.username"> </md-input-container>
		<md-input-container> <label>PassWord</label> <input
			type="password" ng-model="vm.user.password"> </md-input-container>
		<md-button class="md-raised md-primary">Logar</md-button>
	</form>
	<div ng-if="vm.authorized">
		<p>Ola {{user.user}} voce esta logado</p>
		<md-button class="md-raised md-warn"  ng-click="vm.sair()">sair</md-button>
	</div>
	<div ng-controller="HelloCtrl as vm">
		<md-button ng-click="vm.ola()" class="md-warn md-raised md-hue-2">Rota restrita</md-button>
		<span class="md-warn">{{vm.msg}}</span>
	</div>
	</md-content>
</div>